.nav-link:hover {
  color: #111 !important;
}

:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.calendar {
  border: transparent;
  border-radius: 4px;
  background: #eee;
  padding: 4px 7px;
  width: 100%;
  font-size: 14px;
}

.react-datepicker-wrapper {
  display: flex !important;
  width: 100%;
  margin: 1.5rem 0;
}

#topSearch {
  padding: 0 1.5rem !important;
}

#topStocklists {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}
#topStocklists:hover {
  color: #111 !important;
  text-decoration: none !important;
}